dl {
    margin-left: 6px;
  }
  dt {
    color: #217ac0;
    font-family: Consolas, "Liberation Mono", Courier;
    font-size: 110%;
    font-weight: bold;
  }
  dd {
    margin-left: 16px;
  }
  
  body {
    margin-top: 47px;
  }  