.blink {
  font-size: 40px;
  text-align: center;
  color: red;
  animation: blink-animation 2s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

.text-class {
  font-size: 20px;
  text-align: center;
  color: black;
  text-decoration:solid;
  font-stretch: expanded;
  background-color: white;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}